[submodule "fuel/core"]
	path = fuel/core
	url = git://github.com/fuel/core.git
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = git://github.com/fuel/email.git
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = git://github.com/fuel/orm.git
[submodule "fuel/packages/parser"]
	path = fuel/packages/parser
	url = git://github.com/fuel/parser.git
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = git://github.com/fuel/oil.git
[submodule "fuel/packages/sentry"]
	path = fuel/packages/sentry
	url = https://github.com/cartalyst/sentry.git
[submodule "fuel/packages/oauth"]
	path = fuel/packages/oauth
	url = git://github.com/fuel-packages/fuel-oauth.git
[submodule "fuel/packages/oauth2"]
	path = fuel/packages/oauth2
	url = git://github.com/fuel-packages/fuel-oauth2.git
[submodule "fuel/packages/less"]
	path = fuel/packages/less
	url = git://github.com/kriansa/fuel-less.git
